window#waybar {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
    color: #ffffff;
    font-family: "SF Pro Display", "AppleGothic", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

#custom-logo-symbol, #custom-notification {
    background: transparent;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

#custom-notification, #hyprland-workspaces, #network, #battery, #bluetooth, #custom-minhypr, #wireplumber, #hyprland-language, #idle_inhibitor, #clock, #tray {
    padding-left: 10px;
    padding-right: 10px;
}

#window {
    font-weight: bold;
    padding-left: 10px;
}